@using Microsoft.AspNetCore.Identity
@using ShareLink.Models
@using ShareLink.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _Context

@if (SignInManager.IsSignedIn(User))
{
    var _user = _Context.Users.Where(p => p.UserName == UserManager.GetUserName(User)).FirstOrDefault();
    <div class="stnt pull-left">
        <a style="margin-left: 3px;" href="" class="btn btn-primary" data-toggle="modal" data-target="#send-new"><i class="fa fa-send fa-fw"></i> Gửi tin</a>
    </div>
    <div class="env pull-left">
        <i class="fa fa-envelope"></i>
    </div>
    <div class="avatar pull-left dropdown">
        <a data-toggle="dropdown" href="#">
            <img width="37px" height="37px" class="img-responsive" src="@_user.Picture65x65" alt="@_user.UserName" />
        </a>
        <b class="caret"></b>
        <div class="status green">&nbsp;</div>
        <ul class="dropdown-menu" role="menu">
            @*<li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">My Profile</a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-2" href="#">Inbox</a>
            </li>*@
            <li role="presentation">
                <a role="menuitem" tabindex="-3" asp-controller="Account" asp-action="LogoutHref">Đăng xuất</a>
            </li>
            @*<li role="presentation">
                <a role="menuitem" tabindex="-4" href="04_new_account.html">Create account</a>
            </li>*@
        </ul>
        @if (User.IsInRole("Manager") || User.IsInRole("Admin")) { }
    </div>
}
else
{
    <div class="stnt pull-left">
        <a style="margin-left: 3px;" href="" class="btn btn-primary" data-toggle="modal" data-target="#login"><i class="fa fa-send fa-fw"></i> Gửi tin</a>
    </div>
        <a style="margin-left: 3px; margin-right: -4px;" href="" class="btn btn-warning  hidden-md hidden-sm" data-toggle="modal" data-target="#login"><i class="fa fa-key fa-fw"></i> Đăng ký</a>
        <a style="margin-left: 3px;" href="" class="btn btn-success" data-toggle="modal" data-target="#login"><i class="fa fa-lock fa-fw"></i> Đăng nhập</a>

}
