.headernav {
    border-bottom: 5px solid #c00;
}
.post .comments .commentbg {
    background-color: #24c536;
}
    .post .comments .commentbg .mark {
        background-color: #24c536;
    }

    .post .comments .commentbg:focus, .post .comments .commentbg:hover {
        background-color: #ff8d00;
    }
    .post .comments .commentbg .mark:focus, .post .comments .commentbg .mark:hover {
        background-color: #ff8d00;
    }
.post .icons {
    width: 60px;
    color: #c00;
    font-size: x-small;
}
    .post h2 {
    font-weight: bold;
}
        .post h2 a {
            color: #337ab7;
        }
            .post h2 a:focus , .post h2 a:hover {
                color: #c00 !important;
                text-decoration: none;
            }
.post .avatar {
    width: 60px;
    height: 60px;
    margin-left: 0px; 
}
.post .views, .post .time {
    color: #c00;
}
.post .posttext p {
    font-size: 11px;
    line-height: 1.2em;
}
.post .post-orther-info span {
    margin-right: 5px;
}